ZAMMAD_ENABLED=false
ZAMMAD_BASE_URL=https://support.multihost.ing
ZAMMAD_API_TOKEN=replace-with-a-dedicated-integration-token
ZAMMAD_GROUP_ID=1
ZAMMAD_WEBHOOK_SECRET=replace-with-at-least-32-random-characters
ZAMMAD_TIMEOUT_SECONDS=8
ZAMMAD_WEBHOOK_MAX_AGE_SECONDS=300

